.repl_history
/**/build
tags
resources/*.nib
resources/*.momd
resources/*.storyboardc
.DS_Store
nbproject
#*#
*~
*.sw[po]
.eprj
.sass-cache
.idea

.dat*
vendor/*/build-*
vendor/Pods
vendor/Podfile.lock
vendor/**/*.bridgesupport
ib.xcodeproj

/_release/
